<!DOCTYPE html>
<html>
<head>
    <title>Captain America</title>
</head>
<body>
    <divc style="text-align: center; text-decoration: none; font-family: sans-serif; color: steelblue;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    <div style="text-align: center; font-family: sans-serif; color: red; background-color: steelblue;">
        <h2>Captain America</h2>
        <p>
            Captain America, real name Steve Rogers, is a comic book superhero from Marvel Comics, 
            one of the most famous characters in the world of comics. He was created by writer Joe 
            Simon and artist Jack Kirby and first appeared in the 1940s Timely Comics[3]. Over the 
            years, a total of approximately 210 million copies of Captain America comics have been 
            sold in 75 countries (estimates vary, with some sources giving the figure slightly higher
            or lower).
            Captain America wears an American flag-themed suit and carries an indestructible shield, 
            which is often used as a weapon. In the comics, the title "Captain America" is applied to 
            anyone chosen by the US government (which views itself as "owning" the persona) to wear the
            suit and shield. For almost the entirety of its publication history, Captain America has 
            been the alter ego of Steve Rogers, a sickly young man whose body was enhanced by an experimental
            serum to the maximum physical form available to a person in order to assist the US military in 
            military operations. Rogers was always committed to justice, for which he made many sacrifices; 
            no matter what, he always came to the aid of his allies.
            Captain America is a purposefully created patriotic character; he was the most popular character
            during World War II, often depicted as states fighting Hitler's coalition. After the end of the war,
            the character's popularity waned and he was no longer used by the 50s, except for an unsuccessful
            revival attempt in 1953. The character only returned to comic book use during the period known as
            the Silver Age of Comics, when he became a member of the superhero team called the Avengers in 
            The Avengers #4 (March 1964). He was also heavily involved in the "Ultimate" comic book arc.
            Captain America was the first Marvel Comics character to appear in media outside of comic books 
            with the 1944 film series Captain America. After him, the character starred in other films and 
            television series. In the Marvel Cinematic Universe (MCU), the character is played by Chris Evans.
        </p>
    </div>
    

    <div style="text-align: center; margin-top: 40px;">
        <img src="https://cdn.britannica.com/30/182830-050-96F2ED76/Chris-Evans-title-character-Joe-Johnston-Captain.jpg" width="400px" height="500px">
    </div>
    {% endblock content %}
</body>
</html>