<!DOCTYPE html>
<html>
<head>
    <title>Struggle</title>
</head>
<body>
    
    
    <div style="text-align: center; font-family: sans-serif; color: navajowhite; background-color: steelblue;">
        <h2>Marvel</h2>
        <p>
            Marvel was founded in 1939 by Martin Goodman as Timely Comics, 
            and by 1951 had generally become known as Atlas Comics. 
            The Marvel era began in June 1961 with the launch of The 
            Fantastic Four and other superhero titles created by Stan Lee, 
            Jack Kirby, Steve Ditko, and many others.
        </p>

        <p>
            By Stan Lee
        </p>

    </div>
    <div style="text-decoration: none; font-family: sans-serif; color: steelblue; text-align: center;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    {% endblock content %}

    

</body>
</html>