<!DOCTYPE html>
<html>
<head>
    <title>Heroes</title>
</head>
<body>
    <divc style="text-align: center; text-decoration: none; font-family: sans-serif; color: steelblue;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    <div style="text-align: center; font-family: sans-serif; color: gold; background-color: red;">
        <h2>Marvel</h2>
        <p>The main heroes here!</p>
        <p>Iron Man</p>
        <p>
            Billionaire inventor Tony Stark is captured
            by Afghan terrorists who are trying to force 
            him to create weapons of mass destruction. 
            Unbeknownst to his captors, Stark constructs
            high-tech cyber armor that helps him escape. 
            However, upon returning to the United States, 
            he learns that a conspiracy is being hatched 
            on the board of directors of his company, 
            fraught with dire consequences. Using his 
            latest invention, Stark tries to radically 
            solve his company's problems...
        </p>
        <p>Thor</p>
        <p>
            Thor is the son of Odin and Fjorgynn, or Jord, 
            and is married to Sif. He is a big eater and enjoys
            the honey-based drink mead. As the champion of order
            in the world, he battles against giants and other
            monsters. It might be because of his power and strength
            that he appears in so many stories.
        </p>
        <p>Captain America</p>
        <p>
            Steve Rogers was a would-be U.S. Army enlistee rejected
             by recruiters because of his small size. He volunteers
            to receive a top-secret serum and transforms into a 
            “super-soldier.” Dubbed Captain America and clad in a
            red, white, and blue costume with a matching stars-and
            -stripes shield, Rogers joins the army.
        </p>
    </div>
    <div style="text-align: center; margin-top: 40px;">
        <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_.jpg" width="400px" height="600px">
    </div>
    
    {% endblock content%}
    
</body>
</html>